// Open Sans
@import url("https://fonts.googleapis.com/css?family=Open+Sans:200,300,400&display=swap&subset=cyrillic-ext");
// glideJS
// core
@import "node-sass-ignore/glide.core.scss";
// theme
@import "node-sass-ignore/glide.theme.scss";
// @import "./glide.scss";

// colours

// $purple: #5c374c;
// $red: #5188a3;
// $creamy: #fad4e1;
// $gray: #001436;
// // $lb: #89bfff;
// // $mb: #4f9bd7;
// $db: #134b88;

$purple: #444; //#5c374c;
$red: #5188a3;
$creamy: #ccc;
$gray: #222;
// $lb: #89bfff;
// $mb: #4f9bd7;
$db: #134b88;

::selection {
  background: rgba($gray, $alpha: 0.3);
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Open Sans", serif;
  background: $creamy;
  @media (max-width: 500px) {
    font-size: 10px;
  }
}

.navbar {
  width: 100%;
  height: 2rem;
  padding: 0.5rem 1rem;
  background: $gray;
  font-weight: 300;
  color: whitesmoke;
}

.logo {
  height: 1rem;
  width: 1rem;
  vertical-align: top;
  margin-right: 0.6rem;
}

.cover {
  background: $gray;
}

.cover__text {
  margin: 0 auto;
  width: 25rem;
  max-width: 90%;
  line-height: 1.2;
  background: $purple;
  padding: 3%;
  color: white;
  // height: 350px;
  padding-bottom: 12rem;
}

.cover__background {
  height: 20rem;
  width: 100%;
  // margin-top: -1rem;
  background: $gray;
}

.cover__heading {
  font-size: 2.5rem;
  // font-weight: 400;
  margin-bottom: 1rem;
}

.cover__img {
  user-select: none;
  margin-top: 0;
  width: 100%;
}
.cover__img--mobile {
  display: none;
}
@media (max-width: 700px) {
  .cover__img--desktop {
    display: none;
  }
  .cover__img--mobile {
    display: initial;
  }
  .cover__background {
    height: 17rem;
  }
}

.s-section {
  color: $gray;
}

.s-section__inner {
  width: 70%;
  margin: 0 auto;
  @media (max-width: 400px) {
    width: 85%;
  }
}

.s-section__list {
  @extend .s-section__desc;
  list-style: square;
  list-style-position: inside;
  margin-left: 1rem;
}

.s-section__heading {
  font-size: 2.3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.s-section--purpose {
  overflow: hidden;
  margin-top: -1px;
  // padding-top: 20rem;
  background: #000;
  // background-image: url(../../img/projector.svg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: top right;
  padding-bottom: 10rem;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem rgba($gray, $alpha: 0.6);
  &__inner,
  &__slider {
    position: relative;
  }
}
.s-section--purpose__img {
  object-fit: cover;
  margin-top: 5rem;
  margin-bottom: -58vw;
  // transform: scale(1);
  transform-origin: top right;
}

.s-section--teaching {
  padding: 7rem 0;
  z-index: 1;
  position: relative;
}
.s-section--purpose__inner {
  top: 8vw;
}

.s-section--purpose__heading {
  margin-bottom: 3rem;
  font-weight: 400;
}

.s-section--purpose__text {
  margin-top: -5rem;
}

.s-section--teaching__img {
  user-select: none;
  display: block;
  margin: 4rem auto 0;
  width: 100%;
}

/* .s-glide {
  // margin-top: -40rem;
  height: 0;
  padding: 13rem 0;
  padding-top: 7rem;
  background: #000;
  // box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem rgba($gray, $alpha: 0.6);

} */


.contact-box {
  margin: 12rem auto 2rem;
  padding: 2rem;
  height: 8em;
  width: fit-content; //try display inline-block
  max-width: 95vw;
  background: #000; //$purple
  box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem rgba($gray, $alpha: 0.6);
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 900px) {
  .contact-box {
    font-size: 14px;
  }
}
.contact-box__heading {
  margin-bottom: 2rem;
  text-align: center;
  @media (max-width: 900px) {
    margin-bottom: 1rem;
  }
}

.contact-box__input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-box__input {
  max-width: 85vw;
  font-family: inherit;
  color: #333;
  font-size: 90%;
  padding: 2px;
  height: 2rem;
  // line-height: 1.5;
  margin-right: -0.3rem;
}

$size: 2rem;
$colour1: #ccc;
$colour2: #aaa;
$colour3: #333;
.st1 {
  fill: none;
  stroke: $colour3;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
  stroke: $colour3;
  stroke-width: 3;
  stroke-linecap: square;
  stroke-linejoin: bevel;
  stroke-miterlimit: 10;
}

.arrow-head {
  fill: $colour3;
}

.contact-box__btn {
  // color: whitesmoke;
  display: inline-block;
  align-self: flex-start;
  text-align: center;
  border: none;
  // line-height: 1.5;
  // border-radius: 0.25rem;
  background: $colour1;
  // font-family: inherit;
  /* min-width: 100px; */
  text-transform: uppercase;
  // font-size: 12px;
  // letter-spacing: 2px;
  width: $size;
  height: $size;
  padding: 0;
  transition: all 0.3s ease;
  // vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  &:hover {
    background: $colour2;
    /* color: $colour1; */
    transition: all 0.3s ease;
    cursor: pointer;
  }
  &[disabled] {
    background: #aaa;
    cursor: default;
  }
}
svg {
  height: $size;
  width: $size;
}

.tick-layer {
  stroke-dasharray: 56;
  stroke-dashoffset: 56;
}
.animate-tick {
  animation: tick 0.8s ease forwards;
  animation-delay: 0.5s;
}

.arrow-layer {
  transform-box: fill-box;
  transform-origin: center;
  stroke-dasharray: 36;
  stroke-dashoffset: 0;
}
.animate-arrow-accept {
  animation: arrow-accept 0.5s ease-in forwards;
}
.animate-arrow-reject {
  animation: arrow-reject 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes arrow-accept {
  100% {
    /* stroke-dashoffset: 36; */
    transform: translateX(150%);
    /* opacity: 1; */
  }
}

@keyframes tick {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes arrow-reject {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(3deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-6deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(6deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  90% {
    transform: rotate(3deg);
  }
}


.slider__inner {
  margin-top: 18rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.slider__text {
  color: #eee;
  text-align: right;
  width: 40%;
  align-self: flex-end;
  // display: block;
}
.glide {
  width: 40%;
  // height: 40rem;
  // background: #aaa;
  // margin: auto;
  // margin-top: 0;
  border-radius: 4px;
  // box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem rgba($gray, $alpha: 0.6);
}

.glide__slide {
  height: 31vw;
  width: 100%;
}
@media (max-width: 700px) {
  .glide {
    width: 90%;
  }
  .glide__slide {
    width: 90vw;
    height: 60vw;
  }
  .glide__bullets {
    display: none;
  }
}

.glide__slide img {
  @extend .glide__slide;
  object-fit: cover;
  display: block;
}

.s-section__desc {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.3;
}

.s-section__list-item {
  font-weight: 300;
}
.s-section--purpose__slider {
  display: flex;
}

@media (max-width: 900px) {
  .s-section--purpose__inner {
    top: -5vw;
  }
}

@media (max-width: 900px) and (min-width: 500px) {
  .s-section--purpose__inner {
    transform: translate(-10%);
  }
}

@media (max-width: 700px) {
  // sectionHeading.style.fontSize = "25px";
  // sectionDesc.style.fontSize = "14px";
  // innerDiv.style.top = "-3vw";
  .s-section--purpose__heading {
    font-size: 25px;
  }
  .s-section--purpose__list {
    font-size: 14px;
  }
  .s-section--purpose__inner {
    top: -3vw;
  }
  .slider__inner {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .glide {
    width: 100%;
  }
  .s-section--purpose__slider {
    flex-direction: column;
    align-items: center;
  }
  .slider__text {
    margin: -5rem 0 5rem;
  }
}
@media (max-width: 500px) {
  .s-section--purpose {
    color: #eee;
  }
  .s-section--purpose__img {
    display: none;
  }
  .s-section--purpose__inner {
    position: static;
  }
  .s-section--purpose * {
    margin: 0;
    transform: none;
  }
  .slider__text {
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
    // font-size: ;
    line-height: 1.3;
  }
  .s-section__inner, .s-section__slider {
    margin: 5rem auto 0;
  }
  .s-section--purpose__heading {
    margin-bottom: 3rem;
  }
}

.contact-box__new-appl {
  text-decoration: underline;
  cursor: pointer;
}

.s-cards__heading {
  @extend .s-section__heading;
  // margin-bottom: 5rem;
  font-weight: 400;
  align-self: flex-start;
  color: #eee;
  margin-bottom: 2rem;
}
.s-cards__desc {
  color: #ddd;
  // min-width: 500px;
  align-self: start;
}

.s-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $purple;
  padding: 4rem 0;
  // padding-bottom: 12rem;
  // color: whitesmoke;
  color: $gray;
}

.s-cards__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  @media (max-width: 1000px) {
    width: 90vw;
  }
  @media (max-width: 750px) {
    font-size: 80%;
  }
  @media (max-width: 600px) {
    font-size: 65%;
  }
}

.cards {
  margin-top: 3.7rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*
#FC7A57 #5A7D7C
#EB5E55

*/

.card {
  // background: $db;
  background: #eee;
  padding: 1.5em;
  width: 13em;
  height: 15em;
  border-radius: 10px;
  box-shadow: 0.1rem 0.1rem 0.3rem 0.3rem rgba($gray, $alpha: 0.2);
  margin: 1rem 0;
}

.card__heading {
  margin-bottom: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  span {
    font-size: 150%;
  }
  line-height: 1.2;
}

.card--abo:nth-of-type(3) .card--abo__heading {
  margin-bottom: 2.5rem;
}

@media (max-width: 500px) {
  .s-cards__heading {
    margin-bottom: 2rem;
  }
  .s-cards__inner {
    width: 60%;
    font-size: 130%;
  }
  .cards {
    flex-direction: column;
    align-items: flex-start;
  }
  .card {
    width: 100%;
    height: 13em;
  }
}

@media (max-width: 250px) {
  .s-cards__inner {
    width: 85%;
  }
}

.s-section--footer {
  background: #333;
  // height: 500px;
  color: whitesmoke;
  padding-top: 2rem;
  padding-bottom: 0.6rem;
}

.s-section--footer__inner {
  width: fit-content;
  margin: 0 auto;
}

.s-section__media {
  width: fit-content;
  margin: 0 auto;
}

.s-section--footer__heading {
  text-align: center;
}

.medium img {
  height: 40px;
  margin: 10px;
}

/* .info {
  margin-top: 3rem;
  width: 160px;
} */

.credit {
  text-align: center;
  margin-top: 4rem;
}

.credit a {
  color: #888 !important;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
